{% extends "base.html" %}

{% block body_contents %}


{% for post in feeds %}
<div class="mdl-card mdl-shadow--2dp" style="width:100%; padding: 40px; margin-bottom:40px">
    
<div class="row">
    <div class="comments col-md-9" id="comments">
        <!-- post -->
        <div class="comment mb-2 row">
            <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                <a href="">
                    <img class="mx-auto rounded-circle img-fluid" 
                    src="{{ GetProfilePic(post.content._from) }}" 
                    alt="avatar"></a>
            </div>
            <div class="comment-content col-md-11 col-sm-10">
                <h6 class="small comment-meta"><a href="/profile/{{ post.content._from }}">{{ getdetails(post.content._from).full_name }}</a> {{ parseTime(post.content.time) }}</h6>
                <div class="comment-body">
                    <p>
                        {{ post.content.message }}
                        <br>
                        <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
                    </p>
                </div>
            </div>
                
            <!-- comment is indented -->
            {% for comment in post.comments %}
            <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                <div class="row">
                    <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                        <a href=""><img class="mx-auto rounded-circle img-fluid" 
                            src="{{ GetProfilePic(comment.content._from) }}" 
                            alt="avatar"></a>
                    </div>
                    <div class="comment-content col-md-11 col-sm-10 col-12">
                        <h6 class="small comment-meta"><a href="/profile/{{ comment.content._from }}">{{ getdetails(comment.content._from).full_name }}</a> {{ parseTime(comment.content.time) }}</h6>
                        <div class="comment-body">
                            <p>{{ comment.content.message }}
                                <br>
                                <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- reply is indented -->
                {% for reply in comment.replies %}
                <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                    <div class="row">
                        <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                            <a href=""><img class="mx-auto rounded-circle img-fluid"
                                src="{{ GetProfilePic(reply.content._from) }}" 
                                alt="avatar"></a>
                        </div>
                        <div class="comment-content col-md-11 col-sm-10 col-12">
                            <h6 class="small comment-meta"><a href="/profile/{{ reply.content._from }}">{{ getdetails(reply.content._from).full_name }}</a> {{ parseTime(reply.content.time) }}</h6>
                            <div class="comment-body">
                                <p>{{ reply.content.message }}
                                    <br>
                                    <a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>                                
                {% endfor %}                            
                <!-- /reply is indented -->



            </div>
            {% endfor %}                            
            <!-- /comment is indented -->

        </div>

    </div>            
</div>
</div>
{% endfor %}


{% endblock %}

